
    <nav role="">
  <ul>

    <li id="my-profile"><a href="../my-profile">Hey {{#profile}}{{first}} {{last}}{{/profile}}</a></li>
     <li id="signers"><a href="/signers.handlebars">All signers</a></li>
    <li id="profile-edit"><a href="/edit-profile.handlebars">Edit my profile</a></li>
    <li id="erp-page"><a href="https://eastriverparkaction.org/">EAST RIVER PARK ACTION</a></li>
    <li id="about"><a href="/about">About</a></li>
    <li id="contact"><a href="/contact">Contact</a></li>
  </ul>
</nav>