<body>
    <img id="home-page-img" src="/trees.png">
{{> navbar }}
<section class="description">

    <h1> SAVE EAST RIVER PARK: GOALS </h1>
     {{#if error_message }}
   <p style="color: rgb(255, 0, 200); font-size:46px;"> Error happened in the signing process. You are welcome to proceed again. Maybe you just forgot to sign down here?</p>
   {{/if}}
    
    <div id='explain'>
    <h3>East River Park ACTION opposes the city’s destructive flood control plan. </h3>
    <p>It is an environmental injustice to inflict the dire mental and physical health effects of closing, ravaging, and rebuilding the park the way the city has planned.</p>
    <p>Promenade under construction from 2005 to 2011</p>
    <p>The city claims that they can complete their preferred plan in five years– do you believe that? I poked my camera through the chain link fence to get this view of the years-long untouched construction site that was the East River Promenade. It was closed in 2001, construction began in 2005, and was completed in 2011. See the years of closure in a photo essay. https://patarnow.zenfolio.com/p249576553</p>
<h3>We support a plan that provides flood control with minimal destruction of existing parkland and biodiversity. It should also be constructed in an environmentally forward-thinking manner that will give us a resilient coastline to help absorb storm surges. Previous plans and suggestions from the community and experts can be adapted. </h3>

<h3>We support interim flood protection to protect the neighborhood and to protect the park from the city’s rushing to start the current misguided flood control plan. </h3>

<h3>We support further expansion of East River Park over the FDR and new concepts for use of the highway as a way to improve the health of our neighborhood and  our world climate.</h3>
</div>
</section>


</body>