<body>
{{> navbar }}
<section class="description">

    <h1> SAVE EAST RIVER PARK: WHO WE ARE </h1>
     {{#if error_message }}
   <p style="color: rgb(255, 0, 200); font-size:46px;"> Error happened in the signing process. You are welcome to proceed again. Maybe you just forgot to sign down here?</p>
   {{/if}}
    
    <div id='explain'>
            <img src="/eastRiverPark.png">
    <h3>Lower East Side resident and East River Park fan Pat Arnow developed ACTION website in June 2019 to demand a flood control plan that will not deprive our neighborhood of our glorious park for years. It was a call to make noise and get attention so that our East River Park does not get demolished for a bad and insensitive flood control plan in 2020. New York City can do better.</h3>
    <p>It is an environmental injustice to inflict the dire mental and physical health effects of closing, ravaging, and rebuilding the park the way the city has planned. 
</p>
    <p>Promenade under construction from 2005 to 2011
The city claims that they can complete their preferred plan in five years– do you believe that? I poked my camera through the chain link fence to get this view of the years-long untouched construction site that was the East River Promenade. It was closed in 2001, construction began in 2005, and was completed in 2011. See the years of closure in a photo essay. https://patarnow.zenfolio.com/p249576553
We support a plan that provides flood control with minimal destruction of existing parkland and biodiversity. It should also be constructed in an environmentally forward-thinking manner that will give us a resilient coastline to help absorb storm surges. Previous plans and suggestions from the community and experts can be adapted. 

We support interim flood protection to protect the neighborhood and to protect the park from the city’s rushing to start the current misguided flood control plan. 

We support further expansion of East River Park over the FDR and new concepts for use of the highway as a way to improve the health of our neighborhood and  our world climate. </p>
</div>
</section>


</body>




The neighborhood was more than ready for ACTION. We became hundreds of pissed off, worried, grieving neighbors ready to fight the city. We formed three subgroups:

ACTION—coordinated by Marie de Cenival, m2cenival@gmail.com and Pat Arnow

Outreach to people in the park and neighborhood, to city officials, to media, to social media
Demonstrations, big doings
LEGAL—coordinated by Charles Krezell, ck@wingflix.com

Using the law to fight the environmental and social damage and injustice to our park and community 
COMMUNITY PLAN—coordinated by Howard Brandstein howard@sixthstreetcenter.org

Gaining expertise and developing an environmentally and socially clean and just plan for our neighborhood. 
Please join one of the groups or email if you want to be on our general list to participate as we develop big doings:

ourpark@eastriverparkaction.org