<body>
{{> navbar }}
<section class="description">
    <img id="home-page-img" src="/people.png">
    <h1> SAVE EAST RIVER PARK: WHO WE ARE </h1>
     {{#if error_message }}
   <p style="color: rgb(255, 0, 200); font-size:46px;"> Error happened in the signing process. You are welcome to proceed again. Maybe you just forgot to sign down here?</p>
   {{/if}}
    
    <div id='explain'>
    <h3>Lower East Side resident and East River Park fan Pat Arnow developed ACTION website in June 2019 to demand a flood control plan that will not deprive our neighborhood of our glorious park for years. It was a call to make noise and get attention so that our East River Park does not get demolished for a bad and insensitive flood control plan in 2020. New York City can do better.</h3>
    <p>It is an environmental injustice to inflict the dire mental and physical health effects of closing, ravaging, and rebuilding the park the way the city has planned. 
</p>
    <p>The neighborhood was more than ready for ACTION. We became hundreds of pissed off, worried, grieving neighbors ready to fight the city. We formed three subgroups:

<h3>ACTION—coordinated by Marie de Cenival, m2cenival@gmail.com and Pat Arnow</h3>

<p>Outreach to people in the park and neighborhood, to city officials, to media, to social media
Demonstrations, big doings</p>
<h3>LEGAL—coordinated by Charles Krezell, <em>ck@wingflix.com</em></h3>

Using the law to fight the environmental and social damage and injustice to our park and community 
<h3>COMMUNITY PLAN—coordinated by Howard Brandstein <em>howard@sixthstreetcenter.org</em></h3>

<p>Gaining expertise and developing an environmentally and socially clean and just plan for our neighborhood. 
Please join one of the groups or email if you want to be on our general list to participate as we develop big doings:
<em>ourpark@eastriverparkaction.org</em></p>
</div>
</section>


</body>




