<body>
<img id="home-page-img" src="/home.png">
{{> navbar }}

<section>

    <h1 class="home"> SAVE EAST RIVER PARK </h1>
</section>
<section>
    <div class='home'>
 <h4>New York City will demolish a big, wonderful park in the name of flood control. There are better plans.</h4>
    <h3 class='home'>Register and signe to make the City step back</h3>
        <h2 style="margin-bottom:5em" >Already <span style="color: rgb(255, 0, 200); font-size:36px;"> {{count}} </span> signers!</h2>
        
 <a href="/register" type="submit" value="Register" name="sign_up" class="submit" id="home-button">Register</a>
</div>
</section>   
</body>