<body>
        <img id="home-page-img" src="/winter.jpg">
    {{> navbar }}

<section>

    <h1> SAVE EAST RIVER PARK </h1>
    <h3> Please log in to the East River Petition </h3>
     {{#if error_message }}
   <p style="color: rgb(255, 0, 200); font-size:46px;"> Sorry that didn't work out. </br> Make sure your password and email are valid. </p>
   {{/if}}

</section>

<section class="form">
  <form method="post" id="login-form">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br><br>
    <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br><br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="submit" value="Log in" name="login" class="submit" id="login" />
  </form>
</section>
</body>