
<body>


<section class="description">

    <h1> SAVE EAST RIVER PARK </h1>
    
    <div id='explain'>
            <img src="eastRiverPark.png">
    <h3>Tell us about you</h3>
    <p>If you would like to let people know who is signing the SAVE EAST RIVER PARK petition, just tell us a bit more about you! It will be shown in the signers record.</p>
    
</div>
</section>

<section class="form">
    <form method="post" id="register-form">
  <label for="age">Age:</label><br>
  <input type="number" id="age" name="age"><br><br>
  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br><br>
    <label for="homepage">Url of your homepage:</label><br>
  <input type="url" id="url" name="url"><br><br>
  <input type="submit" value="Submit" name="profile" class="submit" id="profile" />
  </form>
</section>
</body>