<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signers</title>
</head>
<body>
    <section>
    <h1> These are all our supporters!</h1>
 <div id="form">
    <ul>{{#signers}}
        <li>{{firstname}} {{lastname}}</li></br>
        {{/signers}}
    </ul> 
    </div>
</section>
    
</body>
</html>