<body>
        {{!-- <img id="home-page-img" src="/summer.png"> --}}
    {{> navbar }}
    <section>
  <h1> Thanks a lot for signing this!</h1></br>
      <img src='{{signatureGraph}}'>

    <a href="/signers">See All Signers Here</a>

    </section>
 </body>

