<body>
        {{!-- <img id="home-page-img" src="/summer.png"> --}}
    {{> navbar }}
    <section>
  <h1> Thanks a lot for signing this!</h1></br>
      <img src='{{signatureGraph}}'>

    <a href="/signers">See All Signers Here</a>
    <form method="post" id="delete-signature">
            {{!-- security inportant for all forms --}}
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="submit" value="delete" name="delete" class="submit" id="delete" />
  </form>
    </section>
 </body>

