<body>
        {{!-- <img id="home-page-img" src="/summer.png"> --}}
    {{> navbar }}
    <section>
  <h2> You have successfully signed the petition. Thanks a lot!</h2></br>
      <img src='{{signatureGraph}}'>

    <h2><a href="/signers">See All Signers Here</a></h2>
    <form method="post" id="delete-signature">
            {{!-- security inportant for all forms --}}
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="submit" value="Unsigne the petition" name="delete" class="submit" id="delete" />
  </form>
    </section>
 </body>

