* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    font-family: helvetica;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1 {
    font-size: 5em;
    color: #008b8bdb;
}
h2 {
    margin-bottom: 5em;
    color: #008b8b8f;
}
h3 {
    padding: 1%;
    margin: 2%;
    font-size: larger;
    color: #008b8b8f;
}
li {
    list-style: none;
}
nav {
    position: relative;
    top: 0;
    margin: 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: flex-end;
    background-color: #008b8b8f;
    padding-right: 3vw;
}
nav ul li {
    align-items: flex-start;
    padding: 1.5%;
    list-style: none;
}
.highlighted {
    color: #008b8b8f;
    background-color: white;
    font-size: larger;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
img {
    display: inline;
}
img#home-page-img {
    min-width: 100vw;
    opacity: 0.5;
    z-index: -150;
    position: fixed;
    top: 0;
}
#home-button {
    margin-top: 14%;
}
ul#signers {
    color: #008b8b8f;
    padding: 5%;
    margin: 3em;
}
section {
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form {
    padding-bottom: 2em;
    background-color: rgba(248, 248, 255, 0.913);
    padding: 5%;
    color: #008b8b8f;
    display: flex;
    flex-direction: column;
    border: #008b8b8f dotted 3px;
}
.description {
    background-color: rgba(248, 248, 255, 0.913);
}
input {
    color: #008b8b8f;
    min-width: 8vw;
    min-height: 3vh;
}
#explain {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    align-items: flex-start;
    /* background-color: rgba(248, 248, 255, 0.913); */
}
.img-explain {
    flex-grow: 1;
    z-index: -100;
    opacity: 0.9;
    min-height: inherit;
}
p {
    max-width: 80%;
    padding: 1%;
}
canvas {
    border: 1px dotted blue;
    margin: 3%;
}

.container {
    width: 80%;
    text-align: center;
}

.submit {
    padding: 1em;
    background-color: darkcyan;
    color: white;
    font-size: larger;
    margin: 2em;
    cursor: pointer;
}
footer {
    background-color: #008b8b8f;
    color: darkgray;
    padding: 1em;
    position: absolute;
    bottom: 0;
}

/* media queries */

@media screen and (max-width: 44em) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        align-items: flex-start;
        padding: 1.5%;
        list-style: none;
    }
}
