* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    font-family: helvetica;
}
a {
    text-decoration: none;
    cursor: pointer;
}
h1 {
    font-size: 5em;
    color: #008b8bdb;
}
h2 {
    margin-bottom: 5em;
    color: #008b8b8f;
}
h3 {
    padding: 1%;
    margin: 2%;
    font-size: larger;
    color: #008b8b8f;
}
li {
    list-style: none;
}
nav {
    position: relative;
    top: 0;
    margin: 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: flex-end;
    background-color: #008b8b8f;
    padding-right: 3vw;
}
nav ul li {
    align-items: flex-start;
    padding: 1.5%;
    list-style: none;
    align-content: space-between;
}
.highlighted {
    color: #008b8b8f;
    background-color: white;
    font-size: larger;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
img {
    display: inline;
}
img#home-page-img {
    min-width: 100vw;
    opacity: 0.5;
    z-index: -150;
    position: fixed;
    top: 0;
    left: 0;
}
#home-button {
    margin-top: 14%;
}
section {
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form {
    padding-bottom: 2em;
    background-color: rgba(248, 248, 255, 0.913);
    padding: 5%;
    color: #008b8b8f;
    display: flex;
    flex-direction: column;
    border: #008b8b8f dotted 3px;
}
.description {
    background-color: rgba(248, 248, 255, 0.913);
}
input {
    color: #008b8b8f;
    min-width: 25vw;
    min-height: 4vh;
}
#explain {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    align-items: flex-start;
}
.img-explain {
    flex-grow: 1;
    z-index: -100;
    opacity: 0.9;
    min-height: inherit;
}
.signers-links {
    font-size: larger;
    color: ghostwhite;
    text-decoration: underline;
}
p {
    max-width: 80%;
    padding: 2%;
    margin: 1%;
}
canvas {
    border: 1px dotted blue;
    margin: 3%;
}

.container {
    width: 80%;
    text-align: center;
}

.submit {
    padding: 1em;
    background-color: darkcyan;
    color: white;
    font-size: larger;
    margin: 2em;
    cursor: pointer;
}
footer {
    background-color: #008b8b8f;
    color: darkgray;
    padding: 1em;
    position: fixed;
    bottom: 0;
}

/* media queries */

@media screen and (max-width: 44em) {
    nav ul li {
        align-items: left;
        justify-content: space-around;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 1%;
        list-style: none;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: left;
        background-color: #008b8b8f;
    }
    section {
        margin: 4%;
        display: block;
        justify-content: space-evenly;
    }
    #home-button {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 1.3em;
    }
    img#home-page-img {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
    canvas {
        max-width: 80vw;
        min-height: 15vh;
        border: 1px dotted blue;
        margin: 1%;
    }
    footer {
        display: none;
    }
    h3.home {
        display: none;
    }
    h4 {
        margin-bottom: 3%;
    }
}
