* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: helvetica;
}
h1 {
    font-size: 3em;
    color: #008b8b8f;
}
h3 {
    padding: 1%;
    margin: 3%;
}
img {
    min-height: 2em;
}
section {
    margin: 4%;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form {
    padding-bottom: 2em;
    background-color: whitesmoke;
    padding: 5%;
    color: #008b8b8f;
    display: flex;
    flex-direction: column;
}
#explain {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: flex-start;
}
canvas {
    border: 1px dotted blue;
    margin: 3%;
}

.container {
    width: 80%;
    text-align: center;
}

.submit {
    padding: 1em;
    background-color: darkcyan;
    color: white;
    font-size: larger;
    margin: 2em;
    cursor: pointer;
}
footer {
    background-color: #008b8b8f;
    color: darkgray;
    padding: 1em;
    position: absolute;
    bottom: 0;
}
